/* This file contains the CSS styles for the Terms and Conditions page. */

header {
    height: 40vh;
}

li {
    list-style-type: disc;
    padding: 5px;
    margin-left: 50px;
}

.TCs-heading {
    font-size: 1.75rem;
    font-weight: 600;
    color: #333;
    margin: 20px 0;
}
